@media (max-width: 768px) {
  .general {
    display: flex;
  }

  .d-flex.flex-column.flex-shrink-0.p-3.bg-light.change_sitebar {
    width: 100%;
    position: absolute;
  }

  .nav.nav-pills.flex-column.mb-auto {
    display: -webkit-box;
    margin: auto;
  }

  .flex-column {
    flex-direction: column !important;
  }

  .row.p-4.pb-0.pe-lg-0.pt-lg-5.align-items-center.rounded-3.border.shadow-lg {
    width: 90%;
    margin: 237px 13%;
  }

  .col {
    margin: inherit;
  }

  .finder {
    margin: 10px -295px 100px;
    display: none;
  }

  .d-flex align-items-center {
    display: none;
  }

  .w-100.me-3 {
    width: 100%;
    display: none;
  }

  form {
    display: none;
  }

}
