@media (max-width: 1110px) {
  .general {
    display: flex;
  }

  .block2 {
    width: 85%;
    margin: auto;
  }

  .d-flex.flex-column.flex-shrink-0.p-3.bg-light.change_sitebar {
    width: 100%;
    position: absolute;
  }

  .nav.nav-pills.flex-column.mb-auto {
    display: -webkit-box;
    margin: auto;
  }

  .flex-column {
    flex-direction: column !important;
  }

  .row.p-4.pb-0.pe-lg-0.pt-lg-5.align-items-center.rounded-3.border.shadow-lg {
    width: 90%;
    margin: 259px 5% 100px;
  }

  .h-100.p-5.bg-light.border.rounded-3 {
    margin-bottom: 40px;
  }

  .body_one {

  }

  .col-md-6 {

  }

  .finder {
    margin: 10px -295px 100px;
    display: none;
  }

  .d-flex align-items-center {
    display: none;
  }

  .w-100.me-3 {
    width: 100%;
    display: none;
  }

  form {
    display: none;
  }

  .nav-item {
    display: none;
  }

  .nav-link active {
    display: none;
  }

  .nav-link.link-dark {
    display: none;
  }

  .nav {
    text-decoration: none;
    text-align: center;
    align-items: center;
    color: black;
  }

}
