.general {
  display: flex;
}

.block2 {
  width: 85%;
}

.d-flex  {
  width: 60%;
}

.d-flex align-items-center link-dark text-decoration-none dropdown-toggle {
  display: initial;
}

.finder {
  margin: auto;
  width: 100%;
}

.body_one {
}

.col-md-6 {
  margin: 25px auto;
}

.col_w1 {
  width: 35%;
}


.nav {
  text-decoration: none;
  align-items: center;
  color: black;
}


li {
  margin: auto;
  text-align: center;
}

a {
  text-align: center;
}
